*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

.header {
    width: 50%;
    height: 50vh;
}

.star-box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.star-container {
    display: flex;
    width: 80%;
    height: 30px;
    background-color: hsl(333, 80%, 67%);
    border-radius: 10px;
}

.buyer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
